.counter {
    width: 100%;
    border-top: 1px solid #fdc47a;
    border-bottom: 1px solid #fdc47a;
    background-color: #fbe4c5;
}
.counter .label, .counter .progression, .counter .description {
    display: inline;
    float: left;
}
.counter .internal {
    padding: 10px;
    font-family: TitilliumText14L600wt, Arial, sans-serif;
    font-size: 1.1em;
    text-shadow: #e9e9e9 2px 1px 0;
    color: #333;
}
.counter .label {
    width: 66%;
}
.counter .label .internal {
    text-align: left;
    font-weight: bold;
}
.counter .progression {
    width: 34%;
}
.counter .progression .internal {
    text-align: right;
}
.counter .progression .internal .days {
    font-weight: bold;
}
.counter .description {
    width: 100%;
    background-color: #fdf0df;
}
.counter .description .internal {
    text-align: left;
    font-size: 0.9em;
}
